# Copy to .env and fill in values
APP_AWS_REGION=eu-west-1
APP_ENVIRONMENT=development
APP_DYNAMODB_TABLE_ITINERARIES=ai-suggestion-app-Itineraries-development
APP_DYNAMODB_TABLE_CREDITS=ai-suggestion-app-Credits-development
