aws_region           = "eu-west-1"
environment          = "production"
ecr_repository_name  = "tripcraft-ai"
lambda_function_name = "tripcraft-ai"
lambda_memory_size   = 512
lambda_timeout       = 60
